In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Data visualization

In [2]:
# Import products

products = pd.read_csv('products_train.csv')
products.head()

,id,locale,title,price,brand,color,size,model,material,author,desc
0,B005ZSSN10,DE,RED DRAGON Amberjack 3 - Steel Tip 22 Gramm Wo...,30.95,RED DRAGON,NaN,NaN,RDD0089,NaN,NaN,Amberjacks Steel Dartpfeile sind verf√ºgbar in ...
1,B08PRYN6LD,DE,Simply Keto Lower Carb* Schokodrops ohne Zucke...,17.90,Simply Keto,NaN,750 g (1er Pack),NaN,NaN,NaN,üå± NAT√úRLICHE S√úSSE DURCH ERYTHRIT - Wir stelle...
2,B09MBZJ48V,DE,"Sennheiser 508377 PC 5.2 Chat, Stilvolles Mult...",68.89,Sennheiser,Multi-Colour,One size,508377,Kunstleder,NaN,3.5 MM BUCHSE - Kann problemlos an Ger√§te mit ...
3,B08ZN6F26S,DE,AmyBenton Auto ab 1 2 3 ahre - Baby Aufziehbar...,18.99,Amy & Benton,Animal Car,NaN,2008B,aufziehauto 1 jahr,NaN,„ÄêAuto aufziehbar„Äë: Dr√ºcken Sie einfach leicht ...
4,B094DGRV7D,DE,PLAYMOBIL - 70522 - Cavaliere mit grauem Pony,7.17,PLAYMOBIL,Nicht Zutreffend.,OneSize,70522,Polypropylen,NaN,Inhalt: 1 St√ºck

In [3]:
# Import sessions

sessions = pd.read_csv('sessions_train.csv')
sessions.head()

                                          prev_items   next_item locale
0                        ['B09W9FND7K' 'B09JSPLN1M']  B09M7GY217     DE
1  ['B076THCGSG' 'B007MO8IME' 'B08MF65MLV' 'B001B...  B001B4THSA     DE
2  ['B0B1LGXWDS' 'B00AZYORS2' 'B0B1LGXWDS' 'B00AZ...  B0767DTG2Q     DE
3  ['B09XMTWDVT' 'B0B4MZZ8MB' 'B0B7HZ2GWX' 'B09XM...  B0B4R9NN4B     DE
4           ['B09Y5CSL3T' 'B09Y5DPTXN' 'B09FKD61R8']  B0BGVBKWGZ     DE

In [6]:
# Check unique locations

products['locale'].unique()

array(['DE', 'JP', 'UK', 'ES', 'FR', 'IT'], dtype=object)

In [31]:
# Exctract the English products only (UK)

products_eng = products[products['locale']=='UK']

In [32]:
# Check the number of products in the English set

products_eng.size

5501980

In [11]:
# Exctract the English sessions only (UK)

sessions_eng = sessions[sessions['locale']=='UK']

In [12]:
# Check the number of sessions in the English set

sessions_eng.size

3546543

We see that we have more items than distinct sessions

In [13]:
# continue data analysis ...

### Model creation

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

Problems:
- items with no description

Need to do:
- normalize text (make undercase, no italic, no bold)

In [33]:
# Train a model that finds similar items based on the title of the items only
# https://www.datacamp.com/tutorial/recommender-systems-python

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

# #Replace NaN with an empty string
# products_eng['title'] = products_eng['title'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(products_eng['title'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(500180, 153814)

In [36]:
#Array mapping from feature integer indices to feature name

tfidf.get_feature_names_out()[-12:]

array(['ùöÇùöïùöäùö¢er', 'ùûúùóòùó™', 'ùüèùüéùüé', 'ùüêùüéùüêùüê', 'ùüñùüéùê•', 'ùü≠ùü¨ùü¨', 'ùüÆùüéùüÆùüÆ', 'ùüÆùü¨ùüÆùü¨',
       'ùüÆùü¨ùüÆùüÆ', 'ùüØùüîùüé', 'ùüØùü¨ùó™', 'ùü≤ùü±ùôí'], dtype=object)

In [37]:
# Import linear_kernel

from sklearn.metrics.pairwise import linear_kernel

In [ ]:
# Compute the cosine similarity matrix

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
cosine_sim.shape